# Semana 05

 Mg Flor Elizabeth Cerdán Leon 
temas:
    1. Colecciones de datos
    2. Estructurs decisivas
    3. Clases y objetos
    4. fuciones

2. Estructuras decisivas

In [2]:
#Estructuras decisivas (if, elif, else)

In [3]:
P1 = float(input("Producto 1: "))
P2 = float(input("Producto 2: "))
P3 = float(input("Producto 3: "))
total = P1+P2+P3
if total >= 1000:
    total*=0.9
print(f"El total a pagares: {total}")

Producto 1: 412
Producto 2: 7789
Producto 3: 475
El total a pagares: 7808.400000000001

In [16]:
salon = ["ASUNCION", "AYQUIPA", "BARZOLA", "CAMAN", "CURO", "INCA", "SAHUMA",
"TALLEDO", "URBISAGASTEGUI"]
apellido = input("Ingrese el apellido: ")
if apellido.upper() in salon:
    print("pertenece al salón")
else:
    print("no pertenece al salón")

Ingrese el apellido: Aquino
no pertenece al salón

In [17]:
# elif
# Problema 03, Solucionar el problema anterior utilizando elif

# Dado el importe total de ventas realizadas por un trabajador (ingresado por teclado)
# Categorizar que tipo de empleado es, considerando la siguiente tabla:

# Categoría A -> [0, 1000]
# Categoría B -> <1000, 2000]
# Categoría C -> <2000, 5000]
# Categoría D -> <0, 1000]

ventas = float(input("Importe de ventas realizada: "))
if ventas < 0:
    print("Datos erroneas")
else:
    if ventas <= 1000:
        print("Categoria A")
    else:
        if ventas <= 2000:
            print("Categoria B")
        else:
            if ventas <=5000:
                print("Categoria C")
            else: 
                print("Cateogira D")

Importe de ventas realizada: 1458
Categoria B

In [18]:
aula = ["inca","Barzola","Urbisagastegui","Caman"]
for alumno in aula:
    print(alumno)

inca
Barzola
Urbisagastegui
Caman

In [20]:
cadena = input("Inserte cadena: ")
for caracter in cadena:
    print (caracter)

Inserte cadena: hol
h
o
l

In [21]:
#Generar rango de numeros usando range()
range(5)

range(0, 5)

In [22]:
#Imprimir numeros de 0 a 10 usando for
for numero in range(11):
    print(numero)

0
1
2
3
4
5
6
7
8
9
10

In [23]:
for numero in range(5,11):
    print(numero)

5
6
7
8
9
10

In [26]:
for numero in range(5,30,7):
    print(numero)

5
12
19
26

In [27]:
numero = 1
fin = 10
while numero <= fin:
    print(numero)
    numero+=1

1
2
3
4
5
6
7
8
9
10